:root {
	--main-color: #244D61;
	--hover-color1: #98AAB3;
	--hover-color2: hsl(0, 0%, 55%);
	/* --font-family:  */
    --dd_textcolor: #A4A4A4;
    --button-plus-minus: rgba(0,0,0,0.03);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
    font-size: 13px;
    color: hsla(0,0%,10%,0.7);
}

::placeholder {
    color: hsla(0,0%,10%,2);
    font-size: 13px;
}


.input-group i {
    color: black;
}

/* .input-group input[type="number"][value="1"] + .input-group-button .input-number-decrement i {
    color: hsla(0, 0%, 10%, 0.6);
} */

.value-one #input-nb-decrement i {
    color: hsla(0, 0%, 10%, 0.6);
}



.left_nav_items {
    overflow: auto;
}

/* .minus-btn {
    border-radius: 20px;
    border-color: rgba(0,0,0,0.03);
    background-color: rgba(0,0,0,0.03);
    padding: 8px;
    position: relative;
} */

.navbar {
    transition: border-bottom 0.3s ease; /* Transition douce pour la bordure */
    border-bottom: none; /* Par défaut, cache la bordure */
}

.navbar-scrolled {
    background-color: white;
    border-bottom: 1px solid #ddd; /* Affiche la bordure lorsque scrolled */
}

.dropdown:hover {
	border: none;
	color: black;
}

.arrow_left,
.retour,
.logo_prst {
    display: inline-block;
    color: var(--hover-color2);
    vertical-align: middle; /* Alignement vertical au centre */
}

.logo_prst img {
    display: block;
}

.fa-arrow-left {
    font-size: 16px;
}

.retour {
    margin-left: -24px;
    display: none;
    padding: 24px;
    font-size: 14px;
}

.details {
    font-size: 13px;
}



.left_nav_items:hover .retour {
    display: block;
    opacity: 1;
}

.left_nav_items:hover img {
    display: none;
}

.left_nav_items:hover .arrow_left,
.left_nav_items:hover .retour {
    color: black;
}


/* .navbar-brand {
    color: black;
} */

.arrow_left {
    margin: 1em;
}

.info {
	text-decoration: underline dotted;
}

#prst-logo {
    height: auto;
    width: 118px;
}

.subscribe_text {
	font-weight: 500;
	font-size: 16px;
	color: var(--hover-color2);
}

.text_currency {
	font-weight: 500;
	font-size: 14px;
	color: var(--hover-color2);
}

.info,
.arrow_down {
    display: inline-block;
}

.qte-btn-page {
    font-size: 14px;
}

.info {
    font-size: 20px;
}

.nav-arrow {
	margin-left: 8px;
    font-size: 12px;
}

.dropdown {
    position: static !important;
    margin-right: 25px;
}

.currency {
    font-size: 28px;
    font-weight: 600;
}

.dropdown-menu {
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important; */
    margin-top: 0px !important;
    width: 100% !important;
	border: none;
}

.row {
    margin: 1em;
}

.pay_btn {
    width: 100%;
    background-color: #244D61;
}

.pay_btn:hover {
    background-color: #244D61;
    color: #98AAB3;
}

.div_btn_pay {
    display: flex;
    justify-content: center;
}

.custom_image {
    width: 300px;
    height: auto;
    margin-bottom: 1em;
    margin-top: 70px;
}

.product_page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.product_description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.view_details_btn {
    margin-top: 0.8em;
}

.view_details_btn:hover {
    background-color: #244D61;
    color: white;
}


.reduc {
    position: absolute;
    top: -29px;
    left: -17px;
    font-size: 1.5em;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transform: rotate(340deg);
    margin: 0px;
    background-color: orange;
}

.horizontal_hr {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: #ccc;
}

.qte-btn {
	padding: 12px;
}

.btn-group {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.vertical-line {
    border-left: 0.1px solid rgba(0, 0, 0, .1);
    height: 100%;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
}

.dd_small_text {
    font-size: 12px;
    color: var(--dd_textcolor);
}

.dd-toggle {
	color: var(--hover-color2);
    padding-right: 0px;
}

.nav_dropdown_img {
    width: 92px;
    height: auto;
    margin-bottom: 1em;
    margin-right: 16px;
}

.input-group-prepend {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    z-index: 1;
}

.form-check-label a {
    color: #244D61;
    text-decoration: none;
}

.form-check-label a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #98AAB3;
}

.btn-check:checked + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary::before {
    color: #fff;
    background-color: #244D61;
    border-color: #244D61;
}

.form-check-input {
    cursor: pointer;
}

.form-check-input:checked[type="checkbox"] {
    background-color: #244D61;
}

.shippingTitle {
    font-weight: bold;
    font-size: 20px;
}

.btn-outline-primary:hover,
.btn-outline-secondary:hover {
    color: white;
    border-color: #244D61;
}

.btn-check:checked + .btn-outline-primary {
    color: #fff;
}

.btn-outline-secondary:focus,
.btn-outline-primary:focus {
    color: #fff;
    border-color: #244D61;
}

#SEPA-radio:hover,
#CC-radio:hover {
    color: #244D61;
    border-color: #244D61;
}

.btn-outline-secondary,
.btn-outline-primary {
    border-color: #244D61;
    color: #244D61;
}

.form-check-input:checked[type="checkbox"] + .form-check-label {
    color: black;
}

.input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.form-control-icon {
    padding-left: 35px;
}


.form-control {
    padding: 12px 8px;
    padding-left: 40px;
}

#validationCustom01,
#validationCustom11,
#validationCustom10 {
    border-radius: 6px;
}

#validationCustom02,
#validationCustom06,
#validationCustom07,
#validationCustom08,
#validationCustom10,
#validationCustom11,
#validationCustom31,
#validationCustom32,
#validationCustom12,
#validationCustomUsername {
    padding-left: 13px;
}

.form-control {
    border-radius: 6px !important;
}

.in_dd_button {
    height: 35px;
    font-size: 14px;
    display: block;
    margin-right: 4px;
    padding: 2px 4px;
    border: none;
    height: auto;
}
.qte-btn_text {
    font-size: 12px;
    margin-right: -6px;
}

.UpsellToggle {
    background-color: var(--checkout-gray25);
    border-radius: calc(var(--rounded) - var(--green-shimmer-border-width));
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: var(--space-4);
    padding: 12px var(--space-4);
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    z-index: 9999; /* Pour s'assurer que l'overlay soit au-dessus du reste du contenu */
  }

  .overlay.active {
    display: block;
  }

  .main-content.gris-out {
    filter: grayscale(100%);
  }

.modal-text-500 {
    font-weight: 500;
    font-size: 14px;
}

.header-components {
    display: flex;
    align-items: center;
}

.text-modal-header {
    display: flex;
    flex-direction: column;
}

.modal-qte-img {
    width: 92px;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    margin-right: 22px;
}


.input-number-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .input-number-group input[type=number]::-webkit-inner-spin-button,
  .input-number-group input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
  }

  .input-number-group .input-group-button {
    line-height: calc(80px/2 - 5px);
  }

  .input-number-group .input-number {
    width: 80px;
    padding: 0 12px;
    /* vertical-align: top; */
    text-align: center;
    outline: none;
    display: block;
    margin: 0;
  }

  #input-modal {
    border: 1px solid #cacaca;
    border-radius: 6px;
    width: 92px;
    box-shadow: 0 0 0 1px #e0e0e0,0 2px 4px 0 rgba(0,0,0,0.07),0 1px 1.5px 0 rgba(0,0,0,0.05);
}

  .input-number-group .input-number,
  .input-number-group .input-number-decrement,
  .input-number-group .input-number-increment {
    border: 1px transparent #cacaca;
    height: 44px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 20px;

  }

  .input-number-group .input-number-decrement,
  .input-number-group .input-number-increment {
    display: inline-block;
    width: 40px;
    background-color: #cacaca;
    color: #0a0a0a;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 300;
  }

  .input-number-group .input-number-decrement {
    margin-right: 16px;
    background-color: rgba(0,0,0,0.03);
  }

  .input-number-group .input-number-increment {
    margin-left: 16px;
    background-color: rgba(0,0,0,0.03);
  }

  .input-number-group .input-number-decrement:hover,
  .input-number-group .input-number-increment:hover {
      background-color: rgba(0,0,0,0.1);
  }


    #input-nb-decrement {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #input-nb-increment {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .fa-plus {
        color: (0,0%,10%,0.6);
    }

    .modal-header {
        padding-bottom: 0px;
    }

    .modal_footer {
        display: flex;
        justify-content: center;
        margin: 18px 20px;
    }

    .modal-modify-btn {
        padding: 5px 7rem;
        background-color: var(--main-color);
    }

    .modal-modify-btn:hover {
        color: var(--hover-color1);
        background-color: var(--main-color);
    }

    .sub-total, .total {
        border-top: 1px solid hsla(0,0%, 10%, 0.1);
    }

    .dd-content {
        padding: 16px;
        padding-top: 0px;
    }

/* Media Queries */

@media (max-width: 400px) {
    .pay_btn {
        width: 100%;
    }
}

@media (min-width: 401px) {
    .pay_btn {
        width: 400px;
    }
}

@media (max-width: 992px)
{
    .modal-dialog {
        position: absolute;
        bottom: 0px;
        margin: 0px 0px;
        width: 100%;
        max-width: 992px;
    }
}
