.left_nav_items {
	overflow: auto;
}

.arrow_left, .retour {
	display: inline-block;
}

.arrow_left {
	margin: 1em;
}

.info, .arrow_down {
	display: inline-block;
}

.dropdown {
    position:static !important;
}

.dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    margin-top:0px !important;
    width:100% !important;
}
