:root {
	--main-color: #244D61;
	--hover-color1: #98AAB3;
	--hover-color2: hsl(0, 0%, 55%);
	/* --font-family:  */
    --dd_textcolor: #A4A4A4;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
}


.input-group i {
    color: #244D61;
}

.left_nav_items {
    overflow: auto;
}

.navbar {
    transition: border-bottom 0.3s ease; /* Transition douce pour la bordure */
    border-bottom: none; /* Par défaut, cache la bordure */
}

.navbar-scrolled {
    background-color: white;
    border-bottom: 1px solid #ddd; /* Affiche la bordure lorsque scrolled */
}

.dropdown:hover {
	border: none;
	color: black;
}

.arrow_left,
.retour,
.logo_prst {
    display: inline-block;
    color: var(--hover-color2);
    vertical-align: middle; /* Alignement vertical au centre */
}

.logo_prst img {
    display: block;
}

.retour {
    display: none;
    margin-left: 10px;
	padding: 16px;
}

.left_nav_items {
	padding: 10px;
}

.left_nav_items:hover .retour {
    display: block;
    opacity: 1;
}

.left_nav_items:hover img {
    display: none;
}

.left_nav_items:hover .arrow_left,
.left_nav_items:hover .retour {
    color: black;
}


/* .navbar-brand {
    color: black;
} */

.arrow_left {
    margin: 1em;
}

.info {
	text-decoration: underline dotted;
}

.subscribe_text {
	font-weight: 500;
	font-size: 18px;
	color: var(--hover-color2);
}

.text_currency {
	font-weight: 500;
	font-size: 16px;
	color: var(--hover-color2);
}

.info,
.arrow_down {
    display: inline-block;
}

.info {
    font-size: 20px;
}

.nav-arrow {
	margin-left: 8px;
    font-size: 12px;
}

.dropdown {
    position: static !important;
    margin-right: 25px;
}

.currency {
    font-size: 30px;
    font-weight: 600;
}

.dropdown-menu {
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important; */
    margin-top: 0px !important;
    width: 100% !important;
	border: none;
}

.row {
    margin: 1em;
}

.pay_btn {
    width: 100%;
    background-color: #244D61;
}

.pay_btn:hover {
    background-color: #244D61;
    color: #98AAB3;
}

.div_btn_pay {
    display: flex;
    justify-content: center;
}

.custom_image {
    width: 300px;
    height: auto;
    filter: grayscale(50%);
    margin-bottom: 1em;
    margin-top: 70px;
}

.product_page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.product_description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.view_details_btn {
    margin-top: 0.8em;
}

.view_details_btn:hover {
    background-color: #244D61;
    color: white;
}


.reduc {
    position: absolute;
    top: -29px;
    left: -17px;
    font-size: 1.5em;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transform: rotate(340deg);
    margin: 0px;
    background-color: orange;
}

.horizontal_hr {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: #ccc;
}

.qte-btn {
	padding: 14px;
}

.btn-group {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.vertical-line {
    border-left: 0.1px solid rgba(0, 0, 0, .1);
    height: 100%;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
}

.dd_small_text {
    font-size: 12px;
    color: var(--dd_textcolor);
}

.dd-toggle {
	color: var(--hover-color2);
}

.nav_dropdown_img {
    width: 92px;
    height: auto;
    filter: grayscale(50%);
    margin-bottom: 1em;
    margin-right: 16px;
}

.input-group-prepend {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    z-index: 1;
}

.form-check-label a {
    color: #244D61;
    text-decoration: none;
}

.form-check-label a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #98AAB3;
}

.btn-check:checked + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary::before {
    color: #fff;
    background-color: #244D61;
    border-color: #244D61;
}

.form-check-input {
    cursor: pointer;
}

.form-check-input:checked[type="checkbox"] {
    background-color: #244D61;
}

.shippingTitle {
    font-weight: bold;
    font-size: 20px;
}

.btn-outline-primary:hover,
.btn-outline-secondary:hover {
    color: white;
    border-color: #244D61;
}

.btn-check:checked + .btn-outline-primary {
    color: #fff;
}

.btn-outline-secondary:focus,
.btn-outline-primary:focus {
    color: #fff;
    border-color: #244D61;
}

#SEPA-radio:hover,
#CC-radio:hover {
    color: #244D61;
    border-color: #244D61;
}

.btn-outline-secondary,
.btn-outline-primary {
    border-color: #244D61;
    color: #244D61;
}

.form-check-input:checked[type="checkbox"] + .form-check-label {
    color: black;
}

.input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.form-control-icon {
    padding-left: 35px;
}

.form-control {
    padding-left: 40px;
}

#validationCustom01,
#validationCustom11,
#validationCustom10 {
    border-radius: 6px;
}

#validationCustom02,
#validationCustom10,
#validationCustom31,
#validationCustomUsername {
    padding-left: 13px;
}

.form-control {
    border-radius: 6px !important;
}

.in_dd_button {
    height: 35px;
    font-size: 14px;
    display: block;
    margin-right: 4px;
    padding: 2px 4px;
    border: none;
    height: auto;
}
.qte-btn_text {
    font-size: 12px;
    margin-right: -6px;
}

.UpsellToggle {
    background-color: var(--checkout-gray25);
    border-radius: calc(var(--rounded) - var(--green-shimmer-border-width));
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: var(--space-4);
    padding: 12px var(--space-4);
}



.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    z-index: 9999; /* Pour s'assurer que l'overlay soit au-dessus du reste du contenu */
  }

  .overlay.active {
    display: block;
  }

  .main-content.gris-out {
    filter: grayscale(100%);
  }


/* Media Queries */

@media (max-width: 400px) {
    .pay_btn {
        width: 100%;
    }
}

@media (min-width: 401px) {
    .pay_btn {
        width: 400px;
    }
}
